{{ define "main" }}

<div class="bg-off-white pv4 grey-5">
	<div class="ph3 mw8 center">
		<h2 class="f2 b lh-title mb2">404 Not found</h2>
		<p class="mb4 mw8">早い話、「ここにはない」ということさ。</p>
	</div>
</div>

<div class="mw8 center ph3 pv4 grey-5">
  <div class="cms mw7">      
    <p>お探しのものはなんですか？<br>どうやら、ここにはないようです。</p>
    <p>とりあえず、まずお確かめください。<br>画面下か上にあるURLを。</p>
    <p>その次は<br>このウェブサイトのものであるかを。</p>
    <p>もし、なければ<br>下の「Go to Home」を押してみてください。</p>
    <p>このウェブサイトのホームに飛びます。<br>ほら、押してみろ。飛ぶぞ。</p>
  </div>
  <div class="tc">
    <a href="/" class="btn raise">Go to Home</a>
  </div>
  <div class="cms mw7">
    <div style="height: 500px;"></div>
    <p>もしかして<br>このページでしたか？</p>
    <p>それは良かった。<br>わざわざ無駄なことをした甲斐があった。</p>
    <p>ただ、残念だったな。<br>あまりのアイデアのなさに。</p>
    <p>相変わらず、センスもアイデアも404 Not foundだ。<br>技術もそうだろう。</p>
    <p>こんな、しょうもない私のお遊びに<br>付き合ってくれて、ありがとう。</p>
    <div style="height: 100px;"></div>
  </div>
</div>

{{ end }}
